@layer utilities.menu {
  .js-menu-trigger {
    .icon {
      @apply flex aspect-[64/36] flex-col justify-between transition-transform duration-300 ease-in-out ~w-[2.5rem]/[4rem];
    }
    .b {
      @apply relative w-full bg-current transition-all duration-300 ~h-[0.3125rem]/[0.4375rem];
    }
    &.active {
      @apply text-accent;
      .icon {
        @apply rotate-180;
      }
      .b {
        @apply origin-center;
      }
      .b-t {
        @apply top-1/2 rotate-45;
      }
      .b-c {
        @apply w-0 opacity-0;
      }
      .b-b {
        @apply bottom-1/2 translate-y-full -rotate-45;
      }
    }
  }
  .js-menu {
    position: fixed;
    z-index: 10;
    display: none;
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto;
    background: white;
    inset: 0;
  }
}
