/.build
node_modules
dist
/vendor
/.tools
*.local

/public/dist

/public/media/*
!/public/media/.redaxo
/public/assets/addons/tinymce/generated/profiles.js

/var/cache/*
!/var/cache/.*

/var/data/addons/*/*
!/var/data/addons/mblock/*
!/var/data/addons/mform/*
!/var/data/addons/ydeploy/*
!/var/data/addons/statistics/*
/var/data/core/config.yml
/var/log/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.yarnrc.yml
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
.npmrc
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem
*.key

