{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-style-order",
    "prettier-plugin-css-order",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ]
}
