@counter-style custom {
  system: cyclic;
  symbols: '–';
  suffix: ' ';
}

body {
  @apply antialiased;
}

/**
 * custom classes
 */

body,
.text-default {
  @apply ~text-base/xl;
}

.prose {

h1,
.h1 {
  @apply hyphens-auto text-balance font-normal leading-[1.1] ~text-[3rem]/[3.75rem] md:leading-[1.05] lg:leading-[1];
}

h2,
.h2 {
  @apply hyphens-auto text-balance font-normal ~text-[1.875rem]/[2.5rem] ~leading-[2.5625rem]/[3.125rem];
}

h3,
.h3 {
  @apply font-bold ~text-base/xl;
}

  h1,
  h2,
  h3,
  p {
    + *:where(:not(ul, ol)) {
      @apply mt-[1.25em];
    }
  }

  * {
    + {
      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3 {
        @apply mt-[1.25em];
      }
    }
  }

  h4,
  h5,
  h6,
  ul,
  ol {
    + * {
      @apply mt-[0.8em];
    }
  }

  h3,
  .h3 {
    + * {
      @apply mt-[0.2em];
      &.text-small {
        @apply mt-[0.4em];
      }
    }
  }
  p {
    @apply hyphens-auto;
  }
  .text-small {
    @apply text-sm md:text-base;
  }
  ol {
    counter-reset: list-counter;
    @apply my-5;
    > li {
      counter-increment: list-counter;
      @apply relative pl-7;
      &::before {
        content: counter(list-counter) '.';
        @apply absolute font-normal;
      }
    }
  }
  ul {
    @apply list-[custom] pl-[1em];
  }
  &.text-center ul > li {
    @apply pl-0;
  }
  iframe {
    @apply aspect-video h-auto w-full;
  }
  * + * > iframe {
    @apply mt-5;
  }
}

.anchor-icon {
  @apply inline-flex gap-[0.3em] [&_i]:transition-transform [&_i]:duration-300;
  &:hover i {
    @apply translate-x-2;
  }
}

.prose {
  a:where(:not(.icon, .button)) {
    @apply underline-a;
    &:where(.maps-links, .links-underlined-i) {
      @apply underline-a-i;
    }
  }
  p:has(> a > img) {
    @apply flex flex-wrap gap-4;
    a {
      @apply col-span-full bg-none;
    }
  }
}

.links-color-hover {
  a:where(:not(.icon, .button)) {
    @apply hover:font-medium hover:text-accent;
  }
}

.links-underlined {
  a:where(:not(.icon, .button)) {
    @apply underline-a;
  }
}
.button-underlined {
  :where(button) {
    @apply underline-a hover:text-accent;
  }
}

.links-underlined-i {
  a:where(:not(.icon, .button)) {
    @apply underline-a;
    @apply underline-a-i;
  }
}

.links-swap {
  li {
    @apply relative overflow-clip pr-[1em];
    &.rex-current > a,
    &.rex-active > a,
    > a:hover {
      @apply before:translate-y-0 before:skew-y-0 before:opacity-100;
      span {
        @apply -translate-y-full;
      }
    }
  }
  a {
    @apply before:absolute before:translate-y-full before:whitespace-nowrap before:font-bold before:text-accent before:opacity-0 before:transition-all before:duration-300 before:ease-in-out before:content-[attr(title)];
    span {
      @apply relative block transition-all duration-300 ease-in-out;
    }
  }
}
