body.rex-theme-light .rex-main-frame {
    background-color: #b39da0;
}

body.rex-is-logged-in .rex-nav-top .navbar,
body#rex-page-setup .rex-nav-top .navbar,
body.rex-theme-light .rex-nav-top,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: #f23c55 !important;
}
.nav-pills > li.active > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: white !important;
}

body.rex-theme-light .rex-slice-select > .dropdown > .btn-default {
    background-color: #f2c9cf;
    border-color: #f2c9cf;
}

.navbar-brand:after {
    content: 'MASSIF Edition';
    position: absolute;
    left: 0;
    top: calc(100% - 2px);
    color: white;
    font-size: 11px;
}

.yform legend {
    margin: 0;
}

/* .yform .fieldset-inner {
    margin-bottom: 30px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #c1c9d4;
    border-top: none;
} */

div.mce-fullscreen {
    z-index: 10000 !important;
}

.rex-slice .img-cell img {
    height: auto;
}

/* mform */

.mform .form-group {
    display: block !important;
}
.mform .control-label {
    float: none !important;
    text-align: left !important;
    width: 100% !important;
}
.mform .col-sm-10 {
    float: none !important;
    text-align: left !important;
    width: 100% !important;
}

.rex-slice-input .form-group + p.help-block {
    margin-top: -10px;
    margin-bottom: 15px;
}

.selectize-input > * {
    display: block !important;
}

.thumbnail {
    margin: 0;
}

.massif-preview {
    display: flex;
    .input-group {
        flex: 1;
    }
}

.massif-preview .thumbnail,
.mform .thumbnail,
.yform .rex-js-widget:not(.rex-js-widget-imglist) .thumbnail,
#rex-page-sidebar-metainfo .thumbnail {
    margin: 0;
    transition: all 0.3s;
    position: relative;
}

.massif-preview .thumbnail:hover,
.mform-tabs .thumbnail:hover,
.yform .rex-js-widget:not(.rex-js-widget-imglist) .thumbnail:hover,
#rex-page-sidebar-metainfo .thumbnail:hover {
    transform: scale(3);
    z-index: 3;
    padding: 1px;
}

#yform_usability-search .form-group,
#yform_usability-search .form-group .input-wrapper {
    display: flex;
    gap: 15px;
}

#yform_usability-search select[name='yfu-searchfield'] {
    width: auto;
}
